$white: #fff;
$snow: #eff5f5;
$cloud: #ecf0f1;
$lightcyan: #f5f8fb;
$aqua-blue:#196d8e;
$dark-grey:#222222;
$slate-grey:#6E7575;
$grey: #cccccc;
$turquoise :#2dacba;
$red-orange:#f35757;
$primary-blue: #0f6299;
