$OpenSans-Bold: 'OpenSans-Bold';
$OpenSans-BoldItalic:  'OpenSans-BoldItalic';
$OpenSans-ExtraBold:'OpenSans-ExtraBold';
$OpenSans-ExtraBoldItalic:'OpenSans-ExtraBoldItalic';
$OpenSans-Italic:'OpenSans-Italic';
$OpenSans-Light:'OpenSans-Light';
$OpenSans-LightItalic: 'OpenSans-LightItalic';
$OpenSans-Regular: 'OpenSans-Regular';
$OpenSans-Semibold: 'OpenSans-Semibold';
$OpenSans-SemiboldItalic:'OpenSans-SemiboldItalic';