<div class="container-fluid content hidden-xs">
    <div class="admin-content">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" class="navbar-nav">SwiftTracker</a>
                    </br>
                    <div class="user-profile">
                        <div class="avatar-sm pull-left">
                            <div class="photo img-circle" style="background-image: url('/images/sample.png');">
                            </div>
                        </div>
                        <div class="user-profile-detail ">
                            <span class="profile-detail" uib-dropdown on-toggle="toggled(open)"> 
                                <a href="" class="text-link" uib-dropdown-toggle>
                                    <strong>{{ user.first_name }} {{ user.last_name }}<span class="dropdown-icon"><i class="icon ion-chevron-down"></i></span></strong>
                                </a>
                                <small><p class="text-muted">Swiftkind</p></small>
                                <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                    <li><a href="#" ng-click="logout()" >Logout</a></li>
                                </ul>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="navbar-right navbar-form">
                    <div class="input-group">
                        <input type="text" name="" placeholder="Search" aria-describeby="search" class="form-control">
                        <span class="input-group-addon" id="search"><i class="icon ion-ios-search-strong"></i></span>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row form">
                <div class="col-md-3 col-sm-3">
                    <div class="dropdown option-dropdown">
                        <button ng-click="inviteUser()">Invite User!</button>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="option-dropdown">
                        <label>Start date:</label>
                        <input type="date" name="" class="form-control">
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="option-dropdown">
                        <label>End date:</label>
                        <input type="date" name="" class="form-control">
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="option-dropdown">
                        <label>Member:</label>
                        <select class="form-control">
                            <option>Sam Clafin</option>
                            <option>Ben Barnes</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row nomargin ad-section">
                <div class="col-md-3 col-sm-7">
                    <div class="user-profile ">
                        <div class="avatar-sm pull-left">
                            <div class="photo img-circle" style="background-image: url('images/sample.png');">
                            </div>
                        </div>
                    </div>
                    <div class="user-profile-detail ">
                        <span class="profile-detail"> <a href="#" class="text-link" aria-haspopup="true" aria-expanded="true" ><strong>Sam Clafin </strong>
                        </a>
                        <small class="text-muted"><p >sam.clafin@gmail.com</p></small>
                        
                        </span>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-6 col-sm-5">
                    <h3 class="nomargin-top">Total Hours:  11:22</h3>
                    <small><p class="text-muted nomargin">11:22 of 80 hours</p></small>
                </div>
            </div>
            <div class="timesheet">
                <div class="row hidden-xs">
                    <div class="col-md-2 col-sm-2">Date:</div>
                    <div class="col-md-1 col-sm-1">Hours:</div>
                    <div class="col-md-4 col-sm-5">Log title:</div>
                    <div class="col-md-1 col-sm-2 text-center">Status:</div>
                    <div class="col-md-2 col-sm-1">Projects:</div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row row-head ">
                    <div class="col-md-2 col-sm-6 col-xs-6">
                        <div class="date">
                            <p>Jan. 23, 2017</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-8 col-sm-3 col-sm-offset-3 col-xs-6">
                        <h3>7 H : 25 M</h3>
                        <small class="text-muted"><p>Daily Total Hours</p></small>
                    </div>
                </div>
                <div class="row row-content flex">
                    <div class="col-md-2 col-sm-2"></div>
                    <p class="visible-xs">Hours:</p>
                    <div class="col-md-1 col-sm-1 col-xs-12">1:40</div>
                    <div class="col-md-4 col-sm-6">
                        <div>
                            <p>Sustainable asymm goth.</p>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-12">
                     <div class="ad-checkbox">
                            <label class="control control--checkbox">
                            <input type="checkbox"/>
                            <div class="control__indicator"></div>
                        </label>
                     </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        
                        <div>
                            <p>Swiftkind Internal</p>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row row-content flex">
                    <div class="col-md-2 col-sm-2"></div>
                    <div class="col-md-1 col-sm-1">1:40</div>
                    <div class="col-md-4 col-sm-6">Sustainable asymmetrical kale chips roof party, goth.</div>
                    <div class="col-md-1 col-sm-1">
                       <div class="ad-checkbox">
                            <label class="control control--checkbox">
                            <input type="checkbox"/>
                            <div class="control__indicator"></div>
                        </label>
                     </div>
                    </div>
                    <div class="col-md-2 col-sm-2">Swiftkind Internal</div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row row-head ">
                    <div class="col-md-2 col-sm-6">
                        <div class="date">
                            <p>Jan. 23, 2017</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-8 col-sm-3 col-sm-offset-3">
                        <h3>7 H : 25 M</h3>
                        <small class="text-muted"><p>Daily Total Hours</p></small>
                    </div>
                </div>
                <div class="row row-content flex">
                    <div class="col-md-2 col-sm-2"></div>
                    <div class="col-md-1 col-sm-1">1:40</div>
                    <div class="col-md-4 col-sm-6">Sustainable asymmetrical kale chips roof party, etsy ethical health goth.</div>
                    <div class="col-md-1 col-sm-1">
                       <div class="ad-checkbox">
                            <label class="control control--checkbox">
                            <input type="checkbox"/>
                            <div class="control__indicator"></div>
                        </label>
                     </div>
                    </div>
                    <div class="col-md-2 col-sm-1" >Swiftkind Internal</div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row row-content flex">
                    <div class="col-md-2 col-sm-2"></div>
                    <div class="col-md-1 col-sm-1">1:40</div>
                    <div class="col-md-4 col-sm-6">Sustainable asymmetrical kale chips roof party, etsy ethical health goth.</div>
                    <div class="col-md-1 col-sm-1">
                       <div class="ad-checkbox">
                            <label class="control control--checkbox">
                            <input type="checkbox"/>
                            <div class="control__indicator"></div>
                        </label>
                     </div>
                    </div>
                    <div class="col-md-2 col-sm-1" >Swiftkind Internal</div>
                    <div class="col-md-2"></div>
                </div>
               <div class="row row-head ">
                    <div class="col-md-2 col-sm-6">
                        <div class="date">
                            <p>Jan. 23, 2017</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-8 col-sm-3 col-sm-offset-3">
                        <h3>7 H : 25 M</h3>
                        <small class="text-muted"><p>Daily Total Hours</p></small>
                    </div>
                </div> 
                 <div class="row row-content flex">
                    <div class="col-md-2 col-sm-2"></div>
                    <div class="col-md-1 col-sm-1">1:40</div>
                    <div class="col-md-4 col-sm-6">Sustainable asymmetrical kale chips roof party, etsy ethical health goth.</div>
                    <div class="col-md-1 col-sm-1">
                       <div class="ad-checkbox">
                            <label class="control control--checkbox">
                            <input type="checkbox"/>
                            <div class="control__indicator"></div>
                        </label>
                     </div>
                    </div>
                    <div class="col-md-2 col-sm-1" >Swiftkind Internal</div>
                    <div class="col-md-2"></div>
                </div> 
                 <div class="row row-content flex">
                    <div class="col-md-2 col-sm-2"></div>
                    <div class="col-md-1 col-sm-1">1:40</div>
                    <div class="col-md-4 col-sm-6">Sustainable asymmetrical kale chips roof party, etsy ethical health goth.</div>
                    <div class="col-md-1 col-sm-1">
                       <div class="ad-checkbox">
                            <label class="control control--checkbox">
                            <input type="checkbox"/>
                            <div class="control__indicator"></div>
                        </label>
                     </div>
                    </div>
                    <div class="col-md-2 col-sm-1" >Swiftkind Internal</div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content visible-xs">
    <div class="admin-content">
        <div class="sidebar">
        </div>
        <div class="container-fluid nopadding">
            <div class="m-profile-wrapper ">
                <div class="active" id="employee">
                    <div class="user-profile">
                        <div class="avatar-sm align-center">
                            <div class="photo img-circle" style="background-image: url('images/sample.png');">
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <h4 class="nomargin">Restie Antiquin</h4>
                        <small>UI/UX Designer</small>
                    </div>
                </div>
            </div>
            <div class="row ad-section">
                <div class="col-xs-6">
                    <h4 class="nomargin">66:22</h4>
                    <small class="text-muted">Total Hours</small>
                </div>
                <div class="col-xs-6">
                    <h4 class="nomargin">82%</h4>
                    <small class="text-muted">66:22  of 80 hours</small>
                </div>
                <div class="col-xs-12">
                    <div class="completion-meter">
                        <div class="rate">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row  row-head">
                <div class="col-xs-6">
                    <h4>Jan 13, 2017</h4>
                    <small class="text-muted">Date</small>
                </div>
                <div class="col-xs-6">
                    <h4>7 H : 25 M</h4>
                    <small class="text-muted">Daily Total Hours</small>
                </div>
            </div>
            <div class="row  ad-section">
                <div class="col-xs-12">
                   
                    <div class="text-left text-capitalize">
                     <h4 class=" log-title">Creating design for admin dashboard mobile</h4>
                    </div>
                </div>
                <div class="col-xs-4">
                    <h4>01:40</h4>
                    <small class="text-muted">Hours</small>
                </div>
                <div class="col-xs-8">
                    <h4>Swiftkind Internal</h4>
                    <small class="text-muted">Project</small>
                </div>
                <div class="col-xs-10 col-xs-offset-1 status">
                    <a href="#" class="btn-primary form-control text-center">VERIFY </a>
                </div>
            </div>
            <div class="row ad-section">
                <div class="col-xs-6">
                    <h4 class="nomargin">66:22</h4>
                    <small class="text-muted">Total Hours</small>
                </div>
                <div class="col-xs-6">
                    <h4 class="nomargin">82%</h4>
                    <small class="text-muted">66:22  of 80 hours</small>
                </div>
                <div class="col-xs-12">
                    <div class="completion-meter">
                        <div class="rate">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ad-section">
                <div class="col-xs-6">
                    <h4>Jan 13, 2017</h4>
                    <small class="text-muted">Date</small>
                </div>
                <div class="col-xs-6">
                    <h4>7 H : 25 M</h4>
                    <small class="text-muted">Daily Total Hours</small>
                </div>
            </div>
        </div>
    </div>
</div>